.custom-modal .modal-content {
    background-color: #ededed;
    padding-top: 0;
    padding-bottom: 0;
  }
.custom-modal {
  min-height: 500px;
  min-width: 700px;
}
.modal-backdrop.show {
  opacity: 0;
}
.modal-title {
  font-weight: bold;
  font-size: 20px;
}
input.input-box::placeholder {
  font-style: normal;
  text-align: left;
}