.custom-modal .modal-content {
    background-color: #ededed;
    padding-top: 0;
    padding-bottom: 0;
  }
.custom-modal {
  min-height: 500px;
  min-width: 700px;
}
.modal-label {
  font-weight: bold;
  font-size: 19px;
}
.modal-backdrop.show {
  opacity: 0;
}
.modal-title {
  font-weight: bold;
  font-size: 25px;
}
input.input-box::placeholder {
  font-style: normal;
  text-align: left;
}

th,
td {
  padding: 10px; /* increase or decrease the value as needed */
}