* {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html,
body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

body {
	background-color: #006bcf;
}

.logo {
	color: rgb(255, 255, 255);
	font-size: 35px;
	line-height: 80px;
	padding: 0 50px;
	font-weight: bold;
}

.overlay {
	position: fixed;
	overflow-y: scroll;
	inset: 0;
}

.container {
	display: grid;
	grid-template-rows: auto; /* two rows with equal height */
	grid-template-columns: auto; /* three columns with equal width */
	grid-row-gap: 40px; /* spacing between grid cells */
}

.friends-item {
	grid-row: 1 / span 1; /* occupies the first row */
	grid-column: 1 / span 1; /* occupies the first column */
}

.courses-item {
	grid-row: 1 / span 1; /* occupies the first row */
	grid-column: 2 / span 1; /* occupies the second column */
}

.events-item {
	justify-self: end;
}

.calendar-item {
	grid-row: 3 / span 1; /* occupies the second row */
	grid-column: 1 / span 2; /* occupies all three columns in the first row */
}

.nav-button {
	background: none;
	border: none;
	color: white;
	font-size: 15px;
	line-height: 70px;
	vertical-align: middle;
	margin: 0 5px;
	font-weight: bold;
	display: inline-block;
}

.options-container {
	float: right;
}

.topBarContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.YCal-logo {
	display: flex;
	padding-left: 25px;
	color: white;
}

.logout-button {
	background-color: transparent;
	border: none;
	padding-right: 25px;
	font-weight: bold;
	font-size: medium;
	cursor: pointer;
	color: white;
}

.item-calendar-item {
	float: top;
	padding-left: 10px;
	padding-right: 10px;
}

:root {
	--fc-button-bg-color: #023663;
	--fc-button-text-color: #acdafa;
	--fc-page-bg-color: #fff;
	--fc-button-border-color: none;
}

nav {
	background: #2074d4;
	height: 80px;
	width: 100%;
}

body {
	margin: 0px;
}

section {
	margin: 20px;
}

.fc {
	background-color: white;
}

#calendar {
	padding-left: 20px;
	padding-right: 20px;
}

.fc {
	border: 5px solid white;
	border-radius: 10px;
}
